<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>First_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bda4ac">  <td>20/02/13 12:41:31</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TC014_TestNG_DataProvider.afterMethod()[pri:0, instance:activities.TC014_TestNG_DataProvider@d8189091]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1803545251</td>   <td></td> </tr>
<tr bgcolor="bda4ac">  <td>20/02/13 12:41:17</td>   <td>-14087</td> <td>&nbsp;</td><td title="&gt;&gt;TC014_TestNG_DataProvider.beforeMethod()[pri:0, instance:activities.TC014_TestNG_DataProvider@d8189091]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1803545251</td>   <td></td> </tr>
<tr bgcolor="bda4ac">  <td>20/02/13 12:41:26</td>   <td>-4789</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC014_TestNG_DataProvider.createNewUser(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:activities.TC014_TestNG_DataProvider@d8189091]">createNewUser</td> 
  <td>main@1803545251</td>   <td></td> </tr>
</table>
